@model Kotacs.Libraries.SOA.Contracts.Data.Customer
<table>
    <tbody>
        <tr>
            <td>
             Customer Id    
            </td>
            <td>
                @Model.Customerid
            </td>
        </tr>
        <tr>
            <td>
             Customer Name
            </td>
            <td>
                @Model.CustomerName
            </td>
        </tr>
        <tr>
            <td>
             Customer address
            </td>
            <td>
                @Model.Address
            </td>
        </tr>
        <tr>
            <td>
             Credit Limit
            </td>
            <td>
                @Model.CreditLimit
            </td>
        </tr>
        <tr>
            <td>
             Status    
            </td>
            <td>
                @Model.ActiveStatus
            </td>
        </tr>
    </tbody>
</table>

